<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759875366477-j0qc4m3p64f0v50qc49kjiu9agonvfn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759875366477-j0qc4m3p64f0v50qc49kjiu9agonvfn1</string>
	<key>API_KEY</key>
	<string>AIzaSyA2pUXuBX6UDjQ_gz5G1xBUx8i5IiMGJ8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>759875366477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-2fef3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-2fef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759875366477:ios:55854b515ff5c5707fb604</string>
</dict>
</plist>